body 
{

	/* BACKGROUND */
	/* TODO LEARN THIS BIT! */
 	position: fixed;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
   	overflow: auto;
	background-color: black;
	/* END OF TODO */
	/* TEXT */
	text-align: center;
	color: white;
	font-family: Courier;	/* default text */
	/* IMAGE */
	background-image: url("log-background.jpg");
	background-repeat: no-repeat;
	/* background-position: center; */
}
/*  FONTS */
h {
	font-family: Courier;
}
label {
	font-family: Courier;
}
.button
{

	/* Size */
	height: 4%;
	width: 5%;
	/* Text */
	text-align: center;
	color: white;
	/* Border */
	background: none;
	border-color: grey;
}
.mainTab {
	height:5%
}
.title 
{
	height: 20%;
	/*
		Set the text to the middle
		of the title section.
	*/
	line-height: 100%;
	font-size: 500%;
}
/* BLOG CONTENT */
.blogPost 
{
	/* Border */
	border-style: dotted;
	border-color: darkgreen;
	width: 80;
	/* Text */
	text-align: left;
	margin: 20px;
}
.blogTitle 
{

}
.blogAuthor
{

}
.blogContent
{

}
/* LOGIN */
.login 
{
	height: 100%;
}

